;; The deps.edn file describes the information needed to build a classpath.
;;
;; When using the `clojure` or `clj` script, there are several deps.edn files
;; that are combined:
;; - install-level
;; - user level (this file)
;; - project level (current directory when invoked)
;;
;; For all attributes other than :paths, these config files are merged left to right.
;; Only the last :paths is kept and others are dropped.

{
  ;; Paths
  ;;   Directories in the current project to include in the classpath

  ;; :paths ["src"]

  ;; External dependencies
 
  ;; :deps {
  ;;   org.clojure/clojure {:mvn/version "1.10.3"}
  ;; }

  ;; Aliases
	;;   resolve-deps aliases (-R) affect dependency resolution, options:
	;;     :extra-deps - specifies extra deps to add to :deps
	;;     :override-deps - specifies a coordinate to use instead of that in :deps
	;;     :default-deps - specifies a coordinate to use for a lib if one isn't found
	;;   make-classpath aliases (-C) affect the classpath generation, options:
	;;     :extra-paths - vector of additional paths to add to the classpath
	;;     :classpath-overrides - map of lib to path that overrides the result of resolving deps

  :aliases {
    ;; clojure -X:deps find-versions doesn't work unless this is commented...
    ;;:deps {:extra-deps {org.clojure/tools.deps.alpha {:mvn/version "0.11.922"}}}
    ;:test {:extra-paths ["test"]}
    :new {:extra-deps {com.github.seancorfield/clj-new
                       {:mvn/version "1.1.331"}}
          :exec-fn clj-new/create
          :exec-args {:template "app"}}

    :fmt {:extra-deps {com.jameslaverack/cljfmt-runner
                       {:git/url "https://github.com/JamesLaverack/cljfmt-runner"
                        :sha "6383fbb0bd22a21c0edf5b699425504d9f0a958a"}}
          :main-opts ["-m" "cljfmt-runner.check"]}
          :fmt/fix {:main-opts ["-m" "cljfmt-runner.fix"]} 

    :check {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                          :sha "0ca84df1357d71429243b99908303f45a934654c"}}
            :main-opts ["-m" "clj-check.check"]}}
  
  ;; Provider attributes

  ;; :mvn/repos {
  ;;   "central" {:url "https://repo1.maven.org/maven2/"}
  ;;   "clojars" {:url "https://repo.clojars.org/"}
  ;; }
}
